{% extends "./index.html" %}

{% block title %} buenos dias {% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="row bg-warning text-dark py-2">
    <div class="col border border-dark">Escuela</div>
    <div class="col border border-white">Pts</div>
    <div class="col border border-white">PJ</div>
    <div class="col border border-white">PG</div>
    <div class="col border border-white">PP</div>
    <div class="col border border-white">GF</div>
    <div class="col border border-white">GC</div>
    <div class="col border border-white">DG</div>
  </div>
  <div class="row bg-light text-dark py-2">
    <div class="col border border-dark">Example School 1</div>
    <div class="col border">30</div>
    <div class="col border">10</div>
    <div class="col border">9</div>
    <div class="col border">1</div>
    <div class="col border">25</div>
    <div class="col border">5</div>
    <div class="col border">20</div>
  </div>
  <div class="row bg-light text-dark py-2">
    <div class="col border border-dark">Example School 2</div>
    <div class="col border">25</div>
    <div class="col border">10</div>
    <div class="col border">8</div>
    <div class="col border">2</div>
    <div class="col border">20</div>
    <div class="col border">10</div>
    <div class="col border">10</div>
  </div>
  <!-- Agrega más filas según sea necesario -->
</div>

{% endblock %}