body {
    text-align: center;
    background-color: rgb(253, 203, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-login {
    background-color: rgb(59, 59, 59);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    height: 375px;
    width: 350px;
}


